/* @media (prefers-color-scheme: light) { */
  :root[data-theme="light"] {
    --text: #07202c;
    --background: #ffffff;
    --primary: #86ad87;
    --secondary: #9fc8a1;
    /* --accent: #384751; */
    --accent: #dddedf;
    --eventBackground: #f3f3f4;
  }
/* } */
/* @media (prefers-color-scheme: dark) { */
  :root[data-theme="dark"] {
    --text: #d3ecf8;
    --background: #161718;
    --primary: #75cc82;
    --secondary: #568666;
    --accent: #383c3f;
    --eventBackground: #1d1e1f;
  }
/* } */
@font-face {
  font-family: "badSchoolFontDIN1451W02Engschrift";
  src: url("Gymnasium\ Neusiedl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN W02 Light";
  src: url("GymnasiumFontLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2 {
  font-family: badSchoolFontDIN1451W02Engschrift;
}

.wrapper {
  width: 86vw;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: var(--background);
  overflow: hidden;
}

.container {
  height: calc(100vh - 3rem);
  width: 120px;
  position: absolute; 
  top: 1.5rem;
  left: 1.5rem;
  background: var(--secondary);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 15px;
  overflow: hidden; 
}

h1 {
  transform: rotate(-90deg);
  transform-origin: left top; 
  margin: 0;
  font-weight: 550;
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: 0px;
  color: var(--text);
  width: calc(100vh - 3rem); 
  height: 120px; 
  position: absolute;
  top: 75%; 
  left: 13.5%; 
}


h2 {
  font-weight: 400;
  color: var(--primary);
  padding-top: 6px;
  padding-bottom: 0px;
  letter-spacing: -0.01em;
  font-size: 4rem;
  margin: 0;
  text-transform: capitalize;
}

p {
  font-family: "DIN W02 Light";
  /* font-family: 'badSchoolFontDINNextN0Light'; */
  font-weight: normal;
  margin: 0rem 0rem 0.6rem 0rem;
  font-size: 2.4rem;
  line-height: 1.085em;
  color: var(--text);
}

strong {
  font-weight: bold;
}

h5 {
  margin: 0;
  padding-top: 4px;
  font-size: 1.2rem;
  font-weight: 400;
}

.events {
  /* border-top: 1px solid black; */
  padding: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  padding-left: calc(150px + 4rem);
}

.event {
  border: 1px solid var(--accent);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  word-wrap: break-word;
  /* Enable word wrapping */
  /* height: fit-content; */
  /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1); */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  max-height: 40vh;
  background: var(--eventBackground);
  overflow: hidden;
}

.page {
  position: absolute;
  bottom: 2.8rem;
  left: 3.5rem;
  font-size: 1.2rem;
  width: 100%;
  font-family: "DIN W02 Light";
}

.image {
  height: 120px;
  left: 10px;
  top: 7rem;
  position: absolute;
}

.small-text {
  font-size: 1.5rem;
  font-family: "DIN W02 Light";
  /* font-family: 'badSchoolFontDINNextN0Light'; */
  /* font-weight: normal; */
  margin: 0rem 0rem 0.6rem 0rem;
  line-height: 1.085em;
}

li {
  font-size: 2rem;
  font-family: "DIN W02 Light";
  /* font-family: 'badSchoolFontDINNextN0Light'; */
  /*font-weight: normal;*/
  margin: 0rem 0rem 0.6rem 0rem;
  line-height: 1.085em;
  color: var(--text);
}

.large-text {
  font-size: 3rem;
  font-family: "DIN W02 Light";
  /* font-family: 'badSchoolFontDINNextN0Light'; */
  /*  font-weight: normal;*/
  margin: 0rem 0rem 0.6rem 0rem;
  line-height: 1.085em;
}

.pinned {
  border: 3px solid red !important;
}
