:root {
  --main-bg-color: #cccfd1;
  --main-accent-color: #348b41;
  --hover-accent-color: #79a988;
  --main-font-color: #394852;
  --secondary-font-color: #071f2a;
  --placeholder-color: #bbc3bd;
  --light-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
  --dark-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 0.625rem;
  --transition-speed: 0.3s;
  --font-regular: 400;
  --font-bold: 700;
}
@font-face {
  font-family: "badSchoolFontDIN1451W02Engschrift";
  src: url("Gymnasium\ Neusiedl.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "DIN W02 Light";
  src: url("GymnasiumFontLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: var(--placeholder-color);
  font-family: "badSchoolFontDIN1451W02Engschrift", "DIN W02 Light";
  padding: 20px;
  margin: 0;
  height: 100%;
  color: var(--main-font-color);
  font-weight: var(--font-regular);
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 22px;
  letter-spacing: 0.025em;
}

.logo-container {
  position: fixed;
  top: 1.2rem;
  left: 1.2rem;
  bottom: 1.2rem;
  /* padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px; */
  background: rgba(121, 169, 135, 0.5);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: transform var(--transition-speed);
}

.logo {
  position: relative;
  top: 30px;
  left: -30px;
  width: 175px;
  height: auto;
}

input[type="text"] {
  margin-bottom: 20px;
}

input[type="text"],
input[type="datetime-local"],
.event_div,
#jsonbtn,
.event_div button {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  transition: transform var(--transition-speed);
}
#unconfirmed_event {
  border: 2px solid rgba(230, 187, 103, 0.3);
  background: rgba(230, 187, 103, 0.0895);
}

#large_event {
  border: 2px solid rgba(211, 69, 58, 0.3);
  background: rgba(211, 69, 58, 0.0895);
}

.form-container {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: transform var(--transition-speed);
  position: fixed;
  top: 1.2rem;
  left: 14rem;
  width: calc(50% - 8rem); /* Adjusted width */
  padding: 25px;
  overflow: scroll;
  z-index: 2;
}

/* Remove scrollbar for form-container */
.form-container::-webkit-scrollbar,
.form-container2::-webkit-scrollbar {
  display: none;
}

/* Wrapper styling */
.wrapper {
  display: flex;
  height: 100vh;
}

/* Paragraph styling */
p {
  font-family: "DIN W02 Light";
}

/* Secondary form container styling */
.form-container2 {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: transform var(--transition-speed);
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  width: calc(50% - 8.4rem); /* Adjusted width */
  padding: 25px;
  overflow: scroll;
  z-index: 1;
  max-height: auto;
  overflow-y: auto;
}

input[type="text"],
input[type="datetime-local"] {
  color: var(--main-font-color);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  font-family: "DIN W02 Light";
}

input[type="text"]:focus,
input[type="datetime-local"]:focus {
  /* Placeholder styles here */
  /* Add your styles here */
}

input::placeholder,
.ql-editor::placeholder {
}

input[type="text"]:hover,
input[type="datetime-local"]:hover,
#jsonbtn:hover,
#editor-container:hover,
.event_div button:hover {
  border-color: var(--hover-accent-color);
  /* transform: scale(1.02); */
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

#editor-container {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: transform var(--transition-speed);
  position: relative;
  z-index: 9999;
  color: var(--main-font-color);
  margin-bottom: 20px;
}

.ql-editor[data-placeholder]::before {
  font-style: normal !important;
  font-size: 16px;
  font-weight: var(--font-regular);
  font-family: "DIN W02 Light";
}

#editor-container .ql-editor {
  font-size: 16px;
  font-weight: var(--font-regular);
}

.ql-toolbar,
.ql-editor,
.ql-container.ql-snow,
.ql-editor .ql-blank {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#jsonbtn {
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  border: none;
  cursor: pointer;
  border: 0;
  background: rgba(52, 139, 64, 0.42);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  transition: transform var(--transition-speed);
}

#displayallevents {
  margin-top: 20px;
}

.event_div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transition: all var(--transition-speed);
}

.event_title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-font-color);
  margin: 0;
  padding: 0.5em 0;
}

.event_date {
  font-size: 1em;
  color: var(--secondary-font-color);
  margin: 0;
  padding: 0.5em 0;
}

.event_div:hover {
  /* transform: scale(1.025); */
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.event_div p {
  font-size: 16px;
  margin-bottom: 1em;
  margin-left: 5px;
  margin-right: 5px;
  /* padding: 15px; */
  /* commented out bc otherwise stupid spacing */
  word-wrap: break-word;
}

.event_div button {
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  background: rgba(52, 139, 64, 0.42);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  transition: transform var(--transition-speed);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-bold);
  margin-bottom: 15px;
  line-height: 1.3;
  font-family: "badSchoolFontDIN1451W02Engschrift";
}

label {
  display: block;
  /* margin-bottom: 10px; */
  font-weight: var(--font-bold);
}

input[type="text"],
input[type="datetime-local"],
#jsonbtn,
.event_div button {
  font-size: 16px;
  font-family: "DIN W02 Light";
  font-weight: bold;
}

.event_div {
  margin-bottom: 15px;
  text-align: center;
	align-items: center;
}

#text_container {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: transform var(--transition-speed);
  overflow-wrap: break-word;
}

#text_container p {
  text-align: justify;
  line-height: 1.2em;
  letter-spacing: -0.015em;
}

#text_container li {
  line-height: 1.2em;
}

#date_container {
  text-align: middle;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0px;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 0px;
  border-radius: 10px;
  background-color: #ebebeb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.input-badge {
  max-width: 15%;
  font-size: 18px;
}

#seiten-wechsel-intervall {
  background: var(--main-accent-color);
  border-radius: var(--border-radius);

  align-items: center;
  justify-content: center;
  display: inline;
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px;
}

/* Example CSS for styling the slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

.large-text {
  font-size: 24px;
}

.small-text {
  font-size: 14px;
}

/* Style for sofort button */
#sofort {
  color: white;
  padding: 10px 25px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  background: rgba(52, 139, 64, 0.42);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  transition: transform var(--transition-speed);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-family: "DIN W02 Light";
}

#page-turn,
#submit_interval {
  background: rgba(52, 139, 64, 0.22);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: var(--border-radius);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: transform var(--transition-speed);
  color: white;
  padding: 10px 25px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-family: "DIN W02 Light";
  width: 80%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 11.625rem;
}

.logo-container label,
.logo-container select,
.logo-container button {
  margin-bottom: 1rem;
}

#page-turn:hover,
#submit_interval:hover,
#sofort:hover {
  border-color: var(--hover-accent-color);
  /* transform: scale(1.02); */
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.body-checkbox {
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: var(--border-radius)
  border: 1px solid rgba (255, 255, 255, 0.3);
	display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
	max-width: 8rem;
	max-height: 5rem;
}
.glass-checkbox {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: none;
}
.label-glass-checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  width: 60px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba (255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 1px rgba (0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 40px;
  transition: background-color 0.4s;
}
.glass-checkbox:checked + .label-glass-checkbox {
  background-color: #f86fc1;
  border-color: transparent;
}

.label-glass-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  top: 50%;
  transform: translate(-12px, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  transition: transform 0.4s;
  backdrop-filter: blur(7px);
}
.glass-checkbox:checked + .label-glass-checkbox::before {
  transform: translate(36px, -50%);
}